*{
    margin: 0;
    padding: 0;
}


#header-background{
    width: 100%;
    height: auto;
    background: white;
    border-bottom: 2px solid deeppink;
    #header{
        width: 1000px;
        height: 100%;
        background: white;
        margin: 0 auto;
        overflow: hidden;
        div{
            float: left;
            height: auto;
        }
        #header-image{
            height: 100%;
            img{
                margin-top: 25px;
            }
        }

        #header-other{
            float: right;
            margin-top: 15px;
            ul{
                width: auto;
                height: 20px;
                overflow: hidden;
                
                    margin-top:5px;
                
                li{
                    float: left;
                    list-style: none;
                    border-right: 1px solid silver;
                    padding: 0 4px;
                    cursor: pointer;
                    font-size: 12px;
                    color: silver;
                    
                    #header-service{
                        width: 82px;
                        height: auto;
                        border: 1px solid silver;
                        position: absolute;
                        right: 175px;
                        top: 14px;
                        background: white;
                        color:black;
                        display: none;
                        li{
                            color: black;
                            border: none ;
                            
                            list-style: none;
                            width: 81px;
                        }
                        li:hover{
                            color: deeppink;
                        }
                        
                    }
                }
                li:hover{
                    color: deeppink;
                    #header-service{
                        display: block;
                    }
                }
            }
            #header-other-img{
                
                li{
                    list-style: none;
                    margin-right: 10px;
                    border: none;
                }
                div{
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    margin-right: 3px;
                    
                   
                }
                #true{
                    background-image: url(https://ccp.vipstatic.com/img/cart/te/4/commons/sprites-hash-29a8cdc6.png?f30a4265);
                    background-position: -587px -145px;
                }
                #day7{
                    background-image: url(https://ccp.vipstatic.com/img/cart/te/4/commons/sprites-hash-29a8cdc6.png?f30a4265);
                    background-position: -432px -253px;
                }
                #timelimit{
                    background-image: url(https://ccp.vipstatic.com/img/cart/te/4/commons/sprites-hash-29a8cdc6.png?f30a4265);
                    background-position: -587px -169px;
                }
               
                span{
                    display: inline-block;
                    height: 20px;
                    width: auto;
                    font-size: 12px;
                    color: black;
                    line-height: 20px;
                }
            }
        }
    }
}
#process-background{
    width: 100%;
    height: auto;
    #process{
        width: 1000px;
        height: auto;
        margin: 0 auto;
        background: lightblue;
    #process-image{
        width: 1000px;
        height: auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
    }
}


#shoppingcar-background{
    width: 100%;
    height: auto;
    background: white;
    #shoppingcar{
        width: 1000px;
        height: 100%;
        background: white;
        margin: 0 auto;
        #shoppingcar-switch{
            width:1000px;
            border-bottom: 2px solid silver;
            height: 40px;
            ul{
                width: 60%;
                height: 100%;
                overflow: hidden;
                li{
                    width: 200px;
                    float: left;
                    list-style: none;
                    font-size: 18px;
                    font-weight: 700;
                    
                    height: 100%;
                    
                    line-height: 40px;
                    cursor: pointer;
                    div{
                        width: 80px;
                        height: 100%;
                        
                    }
                    div:hover{
                        color: deeppink;
                        
                    }
                }
                
                #switch-line{
                    border-right: 1px solid silver;
                    margin-right: 30px;
                    overflow: hidden;
                    div{
                        float: left;
                        color: deeppink;
                        border-bottom:2px solid deeppink;
                    }
                    
                }
            }
        }
        #switch-address{
            width: 100%;
            ul{
                width: 100%;
                li{
                    list-style: none;
                    span{
                        font-size: 16px;
                        font-weight: 700;
                        margin: 0 3px;
                    }
                    .iconfont{
                        color: skyblue;
                    }
                }
            }
        }
        #shoppingcar-content{
            width: 100%;
            height: auto;
            background: white;
            #shoppingcar-menu{
                background: #f9f9f9;
                border-left: 2px solid deeppink;
                height: 50px;
                ul{
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    li{
                        float: left;
                        list-style: none;
                        width: 14%;
                        text-align: center;
                        line-height: 50px;
                       
                    }
                    #special{
                        width: 44%;
                        color: deeppink;
                        text-align: left;
                        padding-left: 5px;
                        font-size: 18px;
                      
                    }
                }
            }
            #shoppingcar-container{
                background: white;
                width: 100%;
                height: auto;
                ul{
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    li{
                        overflow: hidden;
                        list-style: none;
                        width: 100%;
                        text-align: center;
                        
                        height: auto;
                        div{
                            float: left;
                            width: 14%;
                            
                        }
                        .product-content{
                            width: 44%;
                            float: left;
                            .product-image{
                                height: 100px;
                                width: 100px;
                                margin: 20px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .product-info{
                                width: 60%;
                                margin-left: 20px;
                               height: 10%;
                               margin-top: 40px;
                               i{
                                   display: block;
                                   width: 100%;
                                   height: auto;
                                   font-size: 14px;
                                color: silver;
                                   
                               }
                               .product-describe{
                                font-size: 15px;
                                color: black;

                               }
                            }
                        }
                        .product-price{
                            height: 100%;
                            div{
                                width: 80%;
                                height: auto;
                                margin: 0 auto;
                                display: block;
                                float: none;
                                margin:25px 10px;

                            }
                            .product-new-price{
                                font-size: 16px;
                            }
                            .product-old-price{
                                text-decoration: line-through;
                                color: silver;
                                font-size: 14px;
                            }
                        }
                        .product-num{
                            height: auto;
                            
                            .product-num-container{
                                height: 32px;
                                width: 120px;
                                
                                border: 1px solid silver;
                                margin:40px 10px;
                                button{
                                    height: 30px;
                                    width: 40px;
                                    text-align: center;
                                    background: silver;
                                    border: none;
                                   
                                }
                                span{
                                    display: inline-block;
                                    width: 30px;

                                }
                            }
                        }
                        .product-overall{
                            height: auto;
                            
                            margin-top: 40px;
                            font-size: 20px;
                            color: deeppink;
                            font-weight: 700;
                        }
                        .product-delete{
                            height: 100%;
                            
                            div{
                                height: 30px;
                                width: 50px;
                                margin-top: 40px;
                                margin-left: 45px;
                                cursor: pointer;
                            }
                            div:hover{
                                color: deeppink;
                            }
                        }
                       
                    }
                   
                }
                #count-overall{
                    width: 100%;
                    height: auto;
                    border: 1px solid silver;
                    
                    #count-number{
                        height: 70px;
                        
                        div{
                            width: 100%;
                            
                            text-align: right;
                            span{
                                display: inline-block;
                                margin: 0 5px;
                                font-size: 12px;
                            }
                            .count-pink{
                                color: deeppink;
                                font-size: 20px;
                                font-weight: 600;
                            }

                        }
                    }
                    #count-submit{
                        width: 1000px;
                        height: 50px;
                        overflow: hidden;
                        div{
                            float: left;
                            background: #f9f9f9;
                            height: 100%;
                        }
                        #count-down{
                            width: 70%;
                            text-align: right;
                            padding-top: 18px;
                            padding-right: 10px;
                            span{
                                font-size: 12px;
                            }
                            span:hover{
                                color: deeppink;
                            }
                            
                        }
                        #count-im{
                            width: 30%;
                            button{
                                width: 100%;
                                height: 100%;
                                background: deeppink;
                                color: white;
                                border: none;
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}
#picture-background{
    width: 100%;
    height: 300px;
    background: white;
    #picture{
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        background: white;
        overflow: hidden;
        div{
            width: 30%;
            height: 141px;
            float: left;
            margin: 20px 15px;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}
#footer-background{
    width: 100%;
    height: auto;
    border-top: 1px solid silver;
    #footer{
        width: 1000px;
        height: auto;
     
        margin: 0 auto;
        #footer-ul{
            width: 100%;
            height: 40px;
            background: deeppink;

            ul{
                width: 66%;
                height: auto;
                overflow: hidden;
                margin: 0 auto;
                padding-top: 10px;
                li{
                    width: auto;
                    margin: 0 auto;
                    float: left;
                    padding: 0 10px;
                    border-right: 1px solid white;
                    color: white;
                    list-style: none;
                    text-align: center;
                    font-size: 12px;
                }
            }
        }
        #footer-info{
            width: 100%;
            height: auto;
            i{
                display: block;
                width: 100%;
                height: auto;
                text-align: center;
                font-size: 12px;
                margin: 5px 0;
            }
        }
    }
}