*{
    margin: 0;
    padding: 0;
}
#header{
   
    height: 30px;
    background:  #f5f5f5;
    position: relative;

    #header-nav{
        width: 1000px;
        height: 30px;
        margin: 0 auto;
        position: relative;
        background: pink;
        //收货地址
        #header-address-container{
            width: 100px;
            height: 30px;
            float: left;
            position: relative;
            z-index: 103;
           
            #address-show{
               
                height: 30px;
               
                float: left;
                
            }
            #address-triangle{
                display:block;
                float: left;
            }
            #address-select{
                height: 283px;
                width: 470px;
                position: absolute;
                background: olive;
                left: 0;
                top: 30px;
                display: none;
                z-index: 103;
                
                #address-select-close button{
                    display: inline;
                    position: absolute;
                    right: 0;
                    top: 0;
    
                    
                }
                #address-select-button button{
                    height:30px;
                    width: 70px;
                    border: 0.5px solid  silver;
                    
                   
                }
                #address-select-button .active{
                    background: skyblue;
                }
                #address-select-province ul li {
                    list-style: none;
                    width: 58px;
                    height: 20px;
                    
                    display: inline-block;
                    font-size: 12px;
                    text-align: center;
                    overflow: hidden;
                    margin: 5 0px;
    
                    
                }
                .clicked{
                    background: deeppink;
                    border: 1px solid deeppink;
                }
           
            }
            #address-select-city{
                display: none;
            }
            #address-select-city ul li{
                list-style: none;
                    width: 58px;
                    height: 20px;
                    
                    display: inline-block;
                    font-size: 12px;
                    text-align: center;
                    overflow: hidden;
                    margin: 5 0px;
            }
        }
       
        //头部其他
        #header-list{

            height: 30px;
            background: #f5f5f5;
            position: relative;
            //更多
                #more{
                    position: relative;
                    border: 1px solid #f5f5f5;
                    z-index:103;

                    #more-div{
                        display: none;
                        height: 168px;
                        width: 302px;
                        background-color: #f5f5f5;
                        position: absolute;
                        left: -245px;
                        top: 19px;
                        line-height: 42px;
                        border: 1px solid silver;
                        z-index: 103;
                        
                        .more-div-title{
                            font-size: 14px;
                            text-align: left;
                            padding: 0 20px;
                            font-weight: 700;
                            height: 25px;
                            width: 260px;
                            // margin-top: 5px;
                        }
                        span{
                            margin:10px;
                            a{
                                text-decoration: none;
                                color: black;
                            
                            }
                            a:hover{
                                color: deeppink;
                            }
                        }
                    
                    #more-div-us,#more-div-corp{
                        
                        width: 280px;
                        margin: 0 10px;
                    }
                    #more-div-us{
                        border-top: 1px dotted silver;
                    }
                    }
                }
            //手机版
                #mobile{
                    position: relative;
                    border: 1px solid #f5f5f5;
                    z-index: 103;
                
                #mobile-div{
                    display: none;
                    height: 217px;
                    width: 187px;
                    background-color: #f5f5f5;
                    position: absolute;
                    left: -118px;
                    top: 19px;
                    border: 1px solid silver;
                    z-index: 103;
                   
                    #mobile-div-QRcode{
                        height: 160px;
                        width: 160px;
                        margin: 10px auto;
                        img{
                            width: 100%;
                        }
                    }
                    #mobile-div-word{
                        text-align: center;
                       
                        a{
                            font-size: 15px;
                            font-weight: bolder;
                            color: black;
                        }
                    }
                }
                }

            //客户服务
            #client{
                position: relative;
                
                border: 1px solid #f5f5f5;
                z-index: 103;
                    ul{ display: none;
                        width: 95px;
                        position: absolute;
                        left: -1px;
                        top: 19px;
                        background-color:#f5f5f5;
                        border: 1px solid silver;
                        border-top: none;
                        z-index: 103;
                            
                        li{
                            float: none;
                            display: block;
                            border: none;
                        }
                    }
                
            }
            //会员俱乐部
            #club{
                position: relative;
                border: 1px solid #f5f5f5;
                z-index: 103;
                
                
                    ul{ display: none;
                        width: 94px;
                        position: absolute;
                        left: -1px;
                        top: 19px;
                        background-color: #f5f5f5;
                       border: 1px solid silver;
                       border-top: none;
                       z-index: 103;
                            
                        li{
                            float: none;
                            display: block;
                            border: none;
                        }
                    }
                
            }
            //我的特卖
            #sale{
                position: relative;
                border: 1px solid #f5f5f5;
                z-index: 103;
                
                    ul{ 
                        display: none;
                        width: 82px;
                        position: absolute;
                        left: -1px;
                        top: 19px;
                        background-color: #f5f5f5;
                        border: 1px solid silver;
                        border-top: none;
                        z-index: 103;
                            
                        li{
                            float: none;
                            display: block;
                            border: none;
                        }
                    }
                
            }
            //签到有礼
            #signup {
                position: relative;
                border: 1px solid #f5f5f5;
                z-index: 103;
                
                
                 
                  
                  
                  img{
                     
                      padding-bottom: 7px;
                  }
                
                #signup-div{
                    width: 462px;
                    height: 154px;
                    background: #f5f5f5;
                    position: absolute;
                    left: 0;
                    top: 20px;
                    border: 0.5px solid   silver;
                    display: none;
                    z-index: 103;
                    
                    #signup-div-circle{
                        height: 84px;
                        text-align: center;
                        line-height: 42px;
                        position: relative;
                        span{
                            line-height: 42px;
                            display: inline-block;
                            margin-top: 6px;
                        }
                        b{
                            font-size: 15px;
                            margin: 0;
                        }
                        #signup-div-days{
                            height: 20px;
                          em{
                              display: inline-block;
                              margin: 0 22px;
                          }
                        }
                    }
                    #signup-div-button{
                        height: 70px;
                        width: 420px;
                        border-top: 1px solid silver;
                        margin-left: 21px;
                        span{
                            text-decoration: underline;
                            font-size: 13px;
                            margin-top: 30px ;
                            display: inline-block;
                        }
                        button{
                            float: right;
                            width: 80px;
                            height: 30px;
                            background: deeppink;
                            text-align: center;
                            margin-top: 20px;    
                                                    
                        }
                    }
                }
             }
            ul li {
                height: 30px;
                list-style: none;
                float: right;
                padding:0 18px;
               
                font-size: 12px!important;
                 
                position: relative;
                border: 1px solid #f5f5f5;
                a{
                    color: black;
                    text-decoration: none;
                    
                }
                a:hover{
                    color: deeppink;
                }
              
                #login-div{
                    height: 177px;
                    width: 282px;
                    border: 1px solid silver;
                    
                    background: #f5f5f5;
                    position:absolute;
                    left: -1px;
                    top:19px;
                    display: none;
                    z-index: 103;
                #login-div-piclog{
                    width: 272px;
                    height: 53px;
                    line-height: 53px;
                    font-size: 15px;
                    
                    position: relative;
                    img{
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        height: 75%;
                        border-radius: 50%;
                        float: left;
                    }
                    span{
                        height: 40px;
                        display: block;
                        border-bottom: 1px dotted black;
                        width: 200px;
                        float: left;
                        margin-left: 55px;
                        margin-top: 5px;
                        
                        a{
                            text-decoration: none;
                        color: black;
                        }
                    }

                }
                #login-div-others{
                    li{
                        width: 100px;
                        border: none;
                        a{
                            text-decoration: none;
                            color: black ;
                        }
                    }
                }
                
                }

            }
            
        } 
        
       
    }
}



#logo-background{
    height: 100px;

#logo{
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    div{
        float: left;
    }
    #logo-logo{
        width: 160px;
        height: 100px;
        background-color: #fff;
    }

    #logo-link{
        width: 303px;
        height: 100px;
        background-color: #fff;
        position: relative;
        a{ height: 100px;
            width: 101px;
            display:block;
            float: left;
            z-index: 2;
            position: absolute;
        }
        #logo-a1{
            left:0;
            top:0;
        }
        #logo-a2{
            left: 101px;
            top: 0;
        }
        #logo-a3{
            left: 202px;
            top: 0;
        }
        
        img{
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
    #logo-search{
        width: 400px;
        height: 100px;
        background-color: #fff;
        position: relative;
        
        #logo-input{
            display:block;
            height: 33px;
            width: 340px;
            border: 2px solid deeppink;
            line-height: 100px;
            float: left;
            margin-top: 30px;
            
        }
        #logo-button{
            height: 33px;
            width: 53px;
            border: 3px solid deeppink;
            background-color: deeppink;
            float: left;
            margin-top: 30px;
            text-align: center;
            
           
        }
        #logo-extra{
            float: none;

            ul li{
                float: left;
                text-decoration: none;
                list-style: none;
                font-size: 12px;
                padding: 0 10px;  
                border-right: 1px solid silver;  
               margin-top: 5px;
               a{
                   text-decoration: none;
                   color: black;
               }
               a:hover{
                   color: deeppink;
               }
            }
            .logo-extra-pink a{
                color: deeppink;
            }
            #logo-extra-last-li{
                border: none;
            }
        }

    }
    #logo-cart{
        
        height: 100px;
        background: #fff;
        float: right;
        padding-right: 33px;
       
        
        button{
            height: 34px;
            width: 96px;
            margin: 29px auto;
            border: 1px solid #ccc;
            background-color: #f6f7f9;
            font-size: 12px;
           
            
           
        }
        #logo-cart-span{
            width: 24px;
            height: 16px;
            background: deeppink;
            display: inline-block;
            border-radius: 12px ;
        }
        #logo-cart-num{
            background-color: deeppink;
            color: white;
        }
    }
}

}

#nav{
    height: 43px;
    background-color: #f5f5f5;
    z-index: 50;
    #nav-ul{
        height: 43px;
        width: 1000px;
        margin: 0 auto;
        position: relative;
        background: #f5f5f5;
        border: 1px solid #f5f5f5    ;
        #nav-li-cate-name{
            width: 160px;
            background-color: deeppink;
            a:hover{
                color: white;
            }
        }
        
        li{
            float: left;
            list-style: none;
            height: 43px;
            position: relative;

            a{
                text-decoration: none;
                color: black;
                line-height: 43px;
                text-align: center;
                font-size: 16px;
                display: block;
                white-space: nowrap;
                padding: 0 12px;
            }
            a:hover{
                color: deeppink;
            }
        }

        
            #nav-ul-category-ul{
                display: none;
                position: absolute;
                height: 495px;
                width: 160px;
                left: 0;
                top: 43px;
                background-color: deeppink;
                z-index: 1;
                li{
                    float: none;
                    text-align: left;
                    a:hover{
                        color: deeppink;
                    }
                }
                

                
            }
            #nav-ul-category-container{
                display: none;
                position: absolute;
                background: white;
                height: auto;
                width: 900px;
                left: 160px;
                top: 43px;
                z-index: 103;
                box-shadow: gray;
                overflow: auto;
                height:495px ;
                a:hover{
                    color: deeppink;
                }
                
               .nav-ul-category-list{
                   display: none;
                   overflow: auto;
               }
              
            }
            .nav-ul-category-title{
                
                display:block;
                width: 900px;
                height: auto;
                
                .nav-dt{
                    width: auto;
                    height: 30px;
                    float: left;
                }
                .nav-dd{
                    width: auto;
                    height: auto;
                    float: left;
                }
                dt,dd{
                   display: inline-block;
                }
                dt{
                    margin-right: 20px;
                }
                dd{
                    margin: 0 5px;
                    font-size:10px;
                }
            }
            .active{
                display: block;
            }
            .nav-ul-category-goods{
                float: left;
                ul li{
                    margin: 0 10px;
                }
            } 

            #nav-more{
                position:relative;
                
                
                
            }
            #nav-more-ul{
                display: none;
                position: absolute;
                border: 1px solid silver;
                border-top: none;
                width: 74px;
                z-index: 102;
                background-color: #f5f5f5;
               
             li{
                 float:none;
             }
             
             a{
                vertical-align: top
             }   
            }
        }
        
}



#product-background{

    width: 100%;
    height: 600px;
    position: relative;
    background: white;

}
#product{
    width: 1000px;
    height: auto;
    position: relative;
    background: white;
    margin: 0 auto;

    #imageinfo{
        width: 100%;
        height: auto;
        background: white;
        position: relative;
        overflow: hidden;
        #image{
            width: 420px;
            height: auto;
            background: white;
            float: left;
            #image-container{
                width: 420px;
                height: 420px;
                img{
                    width: 100%;
                    height: 100%;
                    display: none;
                }
                .image-bigger{
                    display: block;
                }
            }
            #image-shower{
                width: 420px;
                height: 420px;
                position: relative;
                overflow: hidden;
                display: none;
                img{
                    height: 1680px;
                    width: 1680px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }

            
        }
        #image-small{
            width: 100%;
            height: 64px;
            
            li{
                
                float: left;
                list-style: none;
                margin: 5px 2px 0;
               
                a{  
                    display: block;
                    text-decoration: none;
                    color: black;
                    height: 100%;
                    width: 100%;
                    border: 1px solid white;
                }
                a:hover{
                    border: 1px solid deeppink;
                }
            }
        }
        #image-info{
            height: auto;
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: deeppink;
            }
            button{
                float: right;
                margin-right: 5px;
                background: white;
                border: 1px solid silver;
            }
            span{
                margin: 0 5px;
            }
        }

        #info{
            width: 500px;
            height: auto;
            float: left;

            div{
                margin-left: 5px;
                width: 100%;
            }
            #info-brand{
                margin: 5px 0;
                margin-left: 5px;
                a{
                    text-decoration: none;
                   font-size: 18px; 
                }
                a:hover{
                    color: deeppink;
                }
            }
            #info-name{
                
                font-size: 16px;
                font-weight: 600;
            }
            #info-des{
                
                font-size: 12px;
                color: gray;
            }
            #info-price{
                height: 90px;
                background: #faf5f8;
                span{
                    line-height: 90px;
                }
           #info-newprice{
               color: deeppink;
               font-size: 40px;
               font-weight: 600;
           }
           #info-oldprice{
               text-decoration: line-through;
               color: gray;
               font-size: 16px;
               margin-left: 10px;
           }
           #info-discount{
               font-size: 16px;
               margin-left: 10px;
               color: gray;
           }

           
            }
            #info-deliver{
                overflow: hidden;
                height: 40px;
                margin-top: 10px;
                div{
                    float: left;
                    width: auto;
                    font-size: 12px;
                
                   
 
                }
                #info-position{
                    div{
                        float: none;
                        display: block;
                    }
                    #info-address{
                       
                        a{
                            text-decoration: none;
                            background: white;
                            border: 1px solid silver;
                            width: auto;
                            display: inline-block;
                        }
                    }
                  
                }
            }
            #info-cost{
                float: none;
                margin: 10px;
                span{
                    font-size: 12px;
                }
               #info-mem{
                   margin-left: 5px;
               }
            }
            #info-color{
              height: 80px;
              div{
                  float: left;
                  width: auto;
              }  
              #info-color-select{
                 height: 80px;
                button{
                  font-size: 12px;
                  background: white;
                  border: 1px solid silver;
                  padding: 5px 5px;
                  margin: 0 5px;
              }
              .selected{
                border: 1px solid deeppink;
              }
              button:hover{
                border: 1px solid deeppink;
            }
            button:focus{outline:0;} 
            }
            }
            #info-size{
                height: 80px;
              div{
                  float: left;
                  width: auto;
              }  
              #info-size-select{
                 height: 80px;
                button{
                  font-size: 12px;
                  background: white;
                  border: 1px solid silver;
                  padding: 5px 5px;
                  margin: 0 10px;
                  width: 50px;
              }
              .selected{
                border: 1px solid deeppink;
              }
              button:hover{
                  border: 1px solid deeppink;
              }
              
              button:active{
                border: 1px solid deeppink;
              }
              button:focus{outline:0;} 
              
            }
                
            }
            #info-num{
                height: 50px;
                overflow: hidden;
                div{
                    float: left;
                    width: auto;
                }
                #info-num-number{
                    width: auto;
                   
                    background: #f9f8f8;
                    border: 1px solid silver;
                    button{
                        width: 30px;
                        background: #f9f8f8;
                       border: none;
                    }
                   
                    .button-left{
                        border-right: 0.5px solid silver;
                    }
                    .button-right{
                        border-left: 0.5px solid silver;
                    }
                    span{
                        display: inline-block;
                        width: auto;
                        padding: 0 10px;
                    }
                    
                }
            }
            #info-num-0{
                display: none;
                margin-left: 30px;
                color: red;
            }
            #info-buy{
                width: 100%;
                button{
                    width: 200px;
                    height: 50px;
                    background: deeppink;
                    color: white;
                    border: 1px solid deeppink;
                    border-radius: 5px;
                    margin-left: 20px;
                    font-size: 20px;
                }
                div{
                    margin: 5px;
                    margin-left: 25px;
                    color: gray;
                    span{
                        color: deeppink;
                        padding: 0 2px;
                    }
                }
            }
        }
    }
}



#content-background{
    width: 100%;
    height: auto;
    



    #content{
        width: 1000px;
        height: auto;
        margin: 0 auto;
        background: white;
        #content-menu{
            width: 100%;
            height: 36px;
            border: 1px solid silver;
            border-bottom: 3px solid black;
            background: white;
            z-index: 200;
            .menu-hidden{
                display: none;
                border-right: none;
                width: 10%;
                text-align: center;
                button{
                    height: 100%;
                    background-color: deeppink;
                    color: white;
                    border: none;
                    padding: 0 10px;
                }
            }
            .special-price{
                font-size:18px;
                font-weight:700;
                color: deeppink;
                
            }
            li{
                float: left;
                border: 1px solid silver;
                border-bottom: 3px solid  black;
                border-top: none;
               
                border-left: none;
                list-style: none;
                width: 10%;
                height: 35px;
                text-align: center;
                line-height: 33px;
                a{
                    color: black;
                    text-decoration: none;
                }
                a:hover{
                    color: deeppink;
                    
                }
            }
        }
        .content-size-name{
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
            border-bottom: 3px dotted silver;
            .content-size-name-title{
                color: deeppink;
                font-size: 20px;
                margin-left: 20px;
            }
            span{
                color: silver;
                margin: 5px;
            }
        }
        #content-size{
            

            #content-sizetable{
                height: auto;
                width: 90%;
                overflow: hidden;
                margin: 0 auto;
                
                border-collapse: collapse;
                li{
                    float: left;
                    width: 25%;
                    height: 100%;
                    list-style: none;
                    text-align: center;
                    
                    dl{
                        height: 100%;
                        dt{width: 100%;
                            height: auto;
                            padding: 10px 0;
                            background: silver;
                            border: 1px solid gray;
                            
                        }
                        dd{
                            width: 100%;
                            height: auto;
                            padding: 10px 0;
                            border: 1px solid gray;
                            border-collapse: collapse;
                        }
                    }
                }
                .content-sizetable-hidden{
                    display: none;
                }
            }

            #content-table-more{
                width: 100%;
                margin: 0 auto;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
        #content-image{
            img{
                display: block;
                margin:0 auto;
            }
        }

        #content-comment{
            #comment-requtation{
                width: 100%;
                height: 40px;
                background: silver;
                text-align: left;
                line-height: 40px;
                padding-left: 20px;
            }
            #comment-view{
                width: 100%;
                height: auto;
                border: 1px dotted silver;
                overflow: hidden;
                div{
                    float: left;
                    height: 100px;
                    width: 50%;
                    font-size: 12px;
                    padding: 15px;
                    button{
                        width: 80px;
                        height: 20px;
                        background: #ededed;
                        border: 1px solid pink;
                    }
                   
                }
                #comment-score{
                    color: deeppink;
                    font-size: 30px;
                }

            }
            #comment-list{
                width: 100%;
                height: auto;
                ul{
                    width: 100%;
                    height: auto;
                    background: white;

                    li{
                        width: 100%;
                        height: auto;
                        border-bottom: 1px dotted silver;
                        overflow: hidden;
                        div{
                            float: left;    
                        }
                        .comment-info{
                            width: 30%;
                            height: 100%;
                           
                            overflow: hidden;
                            padding: 10px;
                            div{
                                float: left;
                            }
                            .comment-info-image{
                                height: 40px;
                                width: 40px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                }
                            }
                            .comment-info-id{
                                padding-left: 20px;
                                i{
                                    display: block;
                                }
                            }
                        }
                        .comment-info-comment{
                            width: 70%;
                            height: 100%;
                            div{
                                display: block;
                                width: 100%;
                                font-size: 12px;
                            }
                            .comment-info-comment-key{
                                width: 100%;
                                span{
                                    display: inline-block;
                                    width: 60px;
                                    height: 25px;
                                    margin: 20px;
                                    margin-left: 0px;
                                    line-height: 25px;
                                    border: 1px solid silver;
                                    background: #ededed;
                                    text-align: center;
                                }
                            }
                            .comment-info-comment-type{
                                padding: 10px 0;
                                span{
                                    color: gray;
                                    margin-right:20px;
                                }
                            }
                            .comment-info-comment-date{
                                color: gray;
                                padding: 10px 0;
                               
                            }
                        }

                    }
                }
            }
        }
        #content-consult{
            width:100%;
            height:auto;
            
            div{
                display: block;
                width:100%;
            }
            #content-consult-service{
                width: 100%;
                button{
                    width: 100px;
                    height: 30px;
                    background: pink;
                    border: 1px solid deeppink;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 600;
                    margin: 0 5px;
                    color: deeppink;
                }
            }
            .content-consult-Q{
                font-weight: 600;
                margin: 5px 0;
                margin-left: 20px;
            }
            .content-consult-A{
                margin-bottom: 30px;
                margin-left: 20px;
            }
        }
    }
}


#footer{
    height: auto;
    width: 100%;
    background: #f5f5f5;

    #footer-content{
        width: 1100px;
        height: auto;
        background-color: #f5f5f5;
        margin: 0 auto;

        #footer-image{
            width: 100%;
            img{
                width: 100%;
                display: block;
                margin:0 auto
            }
        }

        #footer-list{
            dl{width: 14%;
                display: block;
                float: left;
                text-align: left;
                margin: 30px  10px  0;
                border-right: 1px solid silver;
                dd{
                    font-size: 12px;
                    a{
                        list-style: square;
                        color: gray;
                    }
                }
            }
        }
       
    }
}

#right-menu{
    width: 50px;
    height: 100%;
    position: fixed;
    z-index: 150;
    right: 0px;
    top: 0;
    background-color: black;
a{
    text-decoration: none;
    color: white;
}
.side-move a{
    color: black;
    font-size: 13px;
}
#side-move-club{
    width: 100%;
    text-align: right;
    height: 50%;
    a{
        color: skyblue;
    }
}
#side-move-info{
    background-color: silver;
    border-top: 1px solid gray;
    border-bottom: 1px solid silver;
    height: 50%;
    
    a{
        color: black;
        font-size: 16px;  
        display:block;  
        width: 49%;
        margin: 0;
        float: left;
        background: silver;
        margin-top: 40px; 
        i{
            display: block;
            text-align: center;
            font-size: 20px;
            
        
        }
    }
    
}
#side-bar{
    margin-top:200px;
    z-index: 200;
    width: 50px;
    
}
#side-bottom-bar{
    position: absolute;
    bottom: 0;
    
    width: 50px;
}
#side-bar-login{
    height: 300px;
    width: 300px;
}
.menu-bag{

    background: deeppink;
    padding: 10px 0;
}
.side-move{
    height: 40px;
    width: 100px;
    position: absolute;
    background: white;
    border: 1px solid silver;
    left: 0px;
    padding:  10px;
    text-align: center;
    z-index: 10;
    font-size: 12px;
    display: none;
   
}
.side-move-icon{
    z-index:999;
    display: block;
    height: 100%;
    width: 50px;
    padding: 10px 0;
    
}
    .iconfont{
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 18px;
       
        position: relative;
        z-index:200;
    span {
        display: block;
        font-size: 16px;
    }
    #shopping-bag{
        width: 20px;
        margin: 0 auto;
        font-size: 16px;    
    
    #shopping-bag-num{
        background: white;
        height: 20px;
        border-radius: 50%;
        color: deeppink;
        margin: 10px 0;
    }
    }
}
}