* {
  margin: 0;
  padding: 0; }

#header-background {
  width: 100%;
  height: 100px;
  background: white; }
  #header-background #header {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background: white; }
    #header-background #header div {
      float: left; }
    #header-background #header #header-logo {
      width: 300px;
      height: 100%;
      padding-top: 10px; }
      #header-background #header #header-logo a {
        display: block;
        width: 135px;
        height: 90px;
        line-height: 100px;
        position: relative;
        overflow: hidden; }
        #header-background #header #header-logo a img {
          left: -300px;
          top: -65px;
          position: absolute; }
    #header-background #header #header-other {
      width: auto;
      height: 100%;
      float: right; }
      #header-background #header #header-other div {
        width: 304px;
        height: 100%;
        position: relative;
        overflow: hidden; }
        #header-background #header #header-other div img {
          position: absolute; }

#register-background {
  width: 100%;
  height: 650px;
  background: url("https://a.vpimg2.com/upload/flow/2019/01/29/88/15487540172274.jpg") no-repeat center top;
  overflow: hidden; }
  #register-background #register {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden; }
    #register-background #register #register-form {
      width: 360px;
      float: right;
      height: auto;
      background: white;
      border-radius: 5px;
      margin-top: 50px; }
      #register-background #register #register-form #form-background {
        margin: 0 auto;
        width: 100%;
        height: auto;
        background: white;
        border-radius: 5px; }
        #register-background #register #register-form #form-background #form-login {
          width: 100%;
          height: 50px;
          overflow: hidden;
          border-bottom: 1px solid silver; }
          #register-background #register #register-form #form-background #form-login #form-login-block {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            overflow: hidden; }
            #register-background #register #register-form #form-background #form-login #form-login-block div {
              float: left;
              height: 100%;
              line-height: 50px;
              text-align: center; }
            #register-background #register #register-form #form-background #form-login #form-login-block #form-login-header {
              font-size: 20px;
              font-weight: 700;
              margin-left: 30px; }
            #register-background #register #register-form #form-background #form-login #form-login-block #form-login-entry {
              float: right;
              margin-right: 30px; }
              #register-background #register #register-form #form-background #form-login #form-login-block #form-login-entry a {
                color: deeppink;
                text-decoration: none; }
        #register-background #register #register-form #form-background #form-register {
          width: 100%;
          height: auto;
          background: white; }
          #register-background #register #register-form #form-background #form-register input {
            border: none;
            font-size: 12px; }
          #register-background #register #register-form #form-background #form-register .register-word {
            font-size: 12px;
            color: orangered; }
          #register-background #register #register-form #form-background #form-register ul {
            width: 80%;
            height: auto;
            margin: 0 auto;
            background: white; }
            #register-background #register #register-form #form-background #form-register ul li {
              list-style: none;
              margin-top: 20px;
              height: 50px; }
            #register-background #register #register-form #form-background #form-register ul i {
              margin-right: 5px;
              margin-left: 2px; }
            #register-background #register #register-form #form-background #form-register ul input {
              outline: none; }
            #register-background #register #register-form #form-background #form-register ul input:focus {
              outline: none; }
            #register-background #register #register-form #form-background #form-register ul #phone-input {
              width: 100%; }
              #register-background #register #register-form #form-background #form-register ul #phone-input div {
                width: 100%;
                height: 100%;
                border: 1px solid silver;
                border-radius: 5px;
                background: white;
                padding: 6px 0;
                margin: 0 auto; }
                #register-background #register #register-form #form-background #form-register ul #phone-input div input {
                  width: 90%; }
            #register-background #register #register-form #form-background #form-register ul #identify-input {
              width: 100%;
              overflow: hidden; }
              #register-background #register #register-form #form-background #form-register ul #identify-input div {
                width: 50%;
                height: 100%;
                border: 1px solid silver;
                background: white;
                border-radius: 5px;
                padding: 6px 0;
                float: left; }
              #register-background #register #register-form #form-background #form-register ul #identify-input input {
                width: 85%; }
              #register-background #register #register-form #form-background #form-register ul #identify-input button {
                float: right;
                width: 30%;
                height: 38px;
                font-size: 12px;
                color: deeppink;
                background: silver;
                border: none;
                margin-right: 20px;
                border-radius: 5px; }
            #register-background #register #register-form #form-background #form-register ul #password-input {
              width: 100%; }
              #register-background #register #register-form #form-background #form-register ul #password-input div {
                width: 100%;
                height: 100%;
                border: 1px solid silver;
                background: white;
                border-radius: 5px;
                padding: 6px 0;
                margin: 0 auto; }
                #register-background #register #register-form #form-background #form-register ul #password-input div input {
                  width: 90%; }
            #register-background #register #register-form #form-background #form-register ul #confirm-input {
              width: 100%; }
              #register-background #register #register-form #form-background #form-register ul #confirm-input div {
                width: 100%;
                height: 100%;
                border: 1px solid silver;
                border-radius: 5px;
                background: white;
                padding: 6px 0;
                margin: 0 auto; }
                #register-background #register #register-form #form-background #form-register ul #confirm-input div input {
                  width: 90%; }
            #register-background #register #register-form #form-background #form-register ul #policy {
              width: 100%; }
              #register-background #register #register-form #form-background #form-register ul #policy div {
                font-size: 12px;
                padding: 0 4px; }
            #register-background #register #register-form #form-background #form-register ul #submit {
              width: 100%;
              height: 50px;
              margin-bottom: 30px; }
              #register-background #register #register-form #form-background #form-register ul #submit div {
                width: 100%;
                height: 100%; }
                #register-background #register #register-form #form-background #form-register ul #submit div button {
                  width: 100%;
                  height: 100%;
                  background: deeppink;
                  color: white;
                  font-size: 18px;
                  text-align: center;
                  border: none;
                  border-radius: 5px; }
            #register-background #register #register-form #form-background #form-register ul #congratulation {
              text-align: center;
              font-size: 16px;
              color: deeppink;
              font-weight: 600;
              display: none; }
            #register-background #register #register-form #form-background #form-register ul #password-level {
              font-size: 16px; }

#footer-background {
  width: 100%;
  height: 78px; }
  #footer-background #footer {
    width: 1000px;
    height: 100%;
    margin: 0 auto; }
    #footer-background #footer #footer-content {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      font-size: 12px;
      text-align: center;
      color: black;
      padding-top: 20px; }
